<!DOCTYPE html>
<html>
<head>
<meta name="referrer" content="always" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="robots" content="noindex, nofollow">
<meta name="googlebot" content="noindex, nofollow">
<script src="https://cdn.yottos.com/jquery-1.12.1.js" type="text/javascript"></script>
<script src="https://cdn.yottos.com/doT.js" type="text/javascript"></script>
<script src="https://cdn.yottos.com/storage.js" type="text/javascript"></script>
<script>
    var start = new Date().getTime();
    var uh = {}, informer = {}, params = {}, campaign={};
    informer = %1%;
    params = %2%;
    uh = new UserHistory();
    function setParams(){
        uh.load();
        params['exclude'] = uh.exclude_get();
        params['retargeting_exclude'] = uh.retargeting_exclude_get();
        params['retargeting_account_exclude'] = uh.retargeting_account_exclude_get();
        params['retargeting'] = uh.retargeting.get();
        params['search_short'] = uh.searchengines.get();
        params['context_short'] = uh.context.get();
        params['retargeting_view'] = uh.retargeting_view.getString();
        params['gender'] = uh.gender_user.get();
        params['cost'] = uh.cost_user.get();
        params['gender_accounts'] = uh.gender_accounts.get();
        params['cost_accounts'] = uh.cost_accounts.get();
        console.log(Object.keys(params).map(function(key) {return key;}));
        return Object.keys(params).map(function(key) {return key + '=' + params[key];}).join('&');
    };
    $.ajaxSetup({
          type: "POST",
          dataType: 'json',
          cache: false,
          beforeSend: function( xhr, settings ) {
              console.log(settings.url);
          },
    });
    var getCampaign = function()
    {
        return $.ajax({
            data: setParams(),
            url: 'campaign.json'
        });
    };
    var getPlace = function()
    {
        if (typeof(params['place']) == "string" && params['place'].length > 0)
        {
            return $.ajax({
                data: setParams(),
                url: 'place.json'
            });
        }
        else
        {
        }
    };
    var getAccountRetargeting = function()
    {
        if (typeof(params['retargetingAccount']) == "string" && params['retargetingAccount'].length > 0)
        {
            return $.ajax({
                data: setParams(),
                url: 'retargeting-account.json'
            });
        }
        else
        {
        }
    };
    var getRetargeting = function()
    {
        if (typeof(params['retargetingOffer']) == "string" && params['retargetingOffer'].length > 0)
        {
            return $.ajax({
                data: setParams(),
                url: 'retargeting.json'
            });
        }
        else
        {
        }
    };
    $.when(getCampaign()).then(function( data, textStatus, jqXHR ) {
        campaign=data;
        $.each(campaign, function(k, v) {
            var camp_list = [];
            params[k] = "";
            $.each(v, function(ki, vi) {
                camp_list.push(ki)
            });
            params[k] = camp_list.join(';');
        });
        console.log("camp complite");
        $.when(getPlace(), getAccountRetargeting(), getRetargeting()).then(function(result1, result2, result3) {
            console.log("offer complite");
            console.log(result1);
            console.log(result2);
            console.log(result3);
            var end = new Date().getTime();
            var time = end - start;
            console.log(time);
        });
    });
</script>
</head>
<body>
    <div id="mainContainer">
    </div>
<script type="text/plain" id="tmpl_adv">
        <div class=""><span track="Header" track_el="" ct="" class="" loc="" target="_blank" of_id="" of_r=""></span>
                <span track="Description" track_el="" t="" ct="" class="" loc="" target="_blank" of_id="" of_r=""></span>
                <span track="Cost" track_el="" t="" ct="" class="" loc="" target="_blank" of_id="" of_r=""></span>
                <span track="Image" track_el="" t="" ct=""  loc="" target="_blank" of_id="" of_r="">
                    <img class="adv'+cl+'Image" src="" alt=""/>
                </span>
        </div>
</script>
</body>
</html>
